input_libretro_device_p1 = "513"
input_player1_select = "rshift"
input_player1_start = "enter"
input_player1_y = "a"
input_player1_b = "z"
input_player1_a = "x"
# Prevent ordinary gameplay keys from changing emulation speed.
input_toggle_fast_forward = "nul"
input_hold_fast_forward = "nul"
input_toggle_slowmotion = "nul"
input_hold_slowmotion = "nul"
fastforward_ratio = "1.000000"
slowmotion_ratio = "1.000000"
audio_sync = "true"
video_vsync = "true"
video_threaded = "false"
video_swap_interval = "1"
# This game's launcher opens a normal window and starts at the ROM's menus.
video_fullscreen = "false"
video_windowed_fullscreen = "false"
video_window_custom_size_enable = "true"
video_windowed_position_width = "960"
video_windowed_position_height = "720"
video_window_show_decorations = "true"
savestate_auto_load = "false"
config_save_on_exit = "false"
